.footer
	background: $c-0
	margin: 0 0
	padding: 60px 0 15px 0

.footer__middle__container
	max-width: 1200px
	padding: 0px 20px
	margin: auto

.footer__middle__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.footer__middle__logo
	width: 20%
	margin: auto
	margin-top: 0
	margin-left: 0

.footer__logo
	width: 184px
	margin: auto

.footer__middle__page
	width: 15%
	margin: auto
	margin-top: 0

.footer__pages
	li
		padding-bottom: 10px
	a 
		color: $blanco
		font-size: 15px
		font-family: $t-4

.footer__middle__direction
	width: 19%
	margin: auto
	margin-top: 0

.footer__direction
	a
		color: $blanco
		font-family:  $t-4
		font-size: 14px

.footer__midle__number
	width: 17%
	margin: auto
	margin-top: 0

.footer__email
	font-family: $t-4
	font-size: 15px
	color: $blanco
	margin-bottom: 10px
	display: block

.footer__number
	font-family: $t-4
	font-size: 20px
	color: $blanco
	display: block

.footer__middle__redes
	width: 10%
	margin: auto
	margin-top: 0
	margin-right: 0
	li
		display: inline-block
		padding: 0px 8px
	a
		color: $blanco

.footer-bottom
	margin-top: 75px
	color: $c-6
	font-size: 14px
	border-top: 1px solid $c-6
	padding-top: 15px
	p 
		margin: 0
	a 
		color: $c-6

.footer__bottom__content
	padding: 0px 40px

.footer__bottom__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.footer__bottom__derechos
	font-family: $t-3
	font-size: 12px
	margin-left: 0
	margin-right: auto

.footer__bottom__web
	font-family: $t-3
	font-size: 12px
	margin-right: 0
	margin-left: auto

@media screen and (max-width: 1100px)
	.footer__pages
		a
			font-size: 14px

	.footer__middle__redes
		li
			padding: 0px 5px

	.footer__number
		font-size: 18px

@media screen and (max-width: 1025px)
	.footer__middle__page
		display: none

	.footer__middle__redes	
		display: none

	.footer__number
		display: none

	.footer__middle__logo,
	.footer__middle__direction,
	.footer__midle__number
		width: 27%

@media screen and (max-width: 768px)
	.footer__middle__logo,
	.footer__middle__direction,
	.footer__midle__number
		width: 100%
		margin: auto
		padding-bottom: 20px
		text-align: center

	.footer
		padding: 40px 0 15px 0

	.footer-bottom
		margin-top: 20px

	.footer__bottom__box
		display: block

	.footer__bottom__derechos
		text-align: center
		padding-bottom: 10px
	.footer__bottom__web
		text-align: center