.div-example
	height: 2000px
	width: 100%
	background: red 

.header--home
	.header-fixed
		position: fixed
	.header-list .header-link
		color: $blanco
	.header-list .header__link--tel
		color: $blanco
	.header-logo .header-logo-scroll
		opacity: 1
		visibility: visible
	.header-logo .header-logo-desktop
		opacity: 0
		visibility: hidden
	.header-list .header__link--tel:before
		color: $blanco
	.header-fixed.scrolling
		.header-logo .header-logo-scroll
			opacity: 0
			visibility: hidden
		.header-logo .header-logo-desktop
			opacity: 1
			visibility: visible
		.header-list .header__link--tel
			color: $c-0
		.header-list .header__link--tel:before
			color: $c-0

.header-fixed
	position: relative
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: transparent
	transition: all .3s linear

.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	// transition: all .3s linear


.header-fixed.scrolling
	position: fixed
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	height: 70px
	.header-bg
		top: 0
	.header-link
		color: $c-2
	.header-languages-select select
		color: $c-2
	.header-languages-select:before
		color: $c-2


.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 150px
	position: absolute
	top: 20px
	left: 20px
	img 
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
		display: block
	.header-logo-scroll
		display: block
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear
	.header-logo-responsive
		display: block
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear



.header-cnt-list
	display: flex
	align-items: center
	justify-content: flex-end

// header list
.header-list
	display: flex

	.header-item
		display: inline-block
		margin-right: 20px
		&:lastt-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: #333e48
		font-size: 15px
		line-height: 15px
		font-family: $t-0
		text-decoration: inherit
		position: relative
		padding: 15px 18px
		text-transform: uppercase
		transition: all .35s ease-in-out
		// &:before
		// 	content: ""
		// 	display: block
		// 	position: absolute
		// 	bottom: 0
		// 	left: 0
		// 	width: 0
		// 	height: 2px
		// 	background: $c-0
		// 	transition: all .35s ease-in-out

	.header__link--tel
		font-family: $t-0
		font-size: 18px
		color: #333e48
		font-weight: bold
		position: relative
		padding-left: 25px
		&:before
			content: '\e904'
			position: absolute
			font-family: $icomoon
			top: 0
			left: 0
			color: #333e48

	//hover
	.header-link:hover
		background: rgba(70, 79, 88, 0.05)
		text-decoration: inherit !important
		border-radius: 5px

	//active
	.header-link.active
		background: rgba(70, 79, 88, 0.05)
		text-decoration: inherit
		border-radius: 5px

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: $blanco
		text-decoration: inherit


// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		text-decoration: inherit
		color: #333e48
		font-family: $t-0
	.header__link--tel
		margin-top: 10px
		margin-left: 30px
		font-family: $t-0
		font-size: 18px
		color: #333e48
		font-weight: bold
		position: relative
		padding-left: 25px
		&:before
			content: '\e904'
			position: absolute
			font-family: $icomoon
			top: 0
			left: 0
			color: #333e48
	.header__btn
		padding-top: 45px
		padding-left: 30px

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 

.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: block
	.header-logo-scroll
		display: none
	


.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1000

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1300px)
	//media query header
	.header-fixed
		position: fixed

	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-fixed
		height: 60px

	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 100px

	.header-logo
		max-width: 100px
	
	.header-bg
		top: 0

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 60px

	.header--home
		.header-logo .header-logo-scroll
			opacity: 0
			visibility: hidden
		.header-logo .header-logo-desktop
			opacity: 1	
			visibility: visible	
	
@media screen and (max-width: 640px)
	.responsive-logo
		display: none
