@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o095rb');
  src:  url('../fonts/icomoon.eot?o095rb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o095rb') format('truetype'),
    url('../fonts/icomoon.woff?o095rb') format('woff'),
    url('../fonts/icomoon.svg?o095rb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e907";
  color: #464f58;
}
.icon-next:before {
  content: "\e908";
  color: #464f58;
}
.icon-facebook-b:before {
  content: "\e900";
  color: #000;
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-more:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-triangle:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e612";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-close:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e602";
}
