footer.footer(role='contentinfo')
  .footer-middle
    .footer__middle__container
      .footer__middle__content
        .footer__middle__logo
          .footer__logo
            a(href="home.html")
              img(src=`${STATIC_URL}img/logo-huayna.svg`)
        .footer__middle__page
          .footer__pages
            ul
              li 
                 a(href='nosotros.html') Nosotros
              li 
                 a(href='servicios.html') Nuestros servicios
              li 
                 a(href='proceso-seleccion.html') Proceso de selección
              li 
                 a(href='novedades.html') Novedades
        .footer__middle__direction
          .footer__direction
            a(href="https://www.google.com.pe/maps/search/Avenida+Guardia+Civil+N%C2%B0+255/@-12.1394504,-77.0493424,12.5z", target='_blank') Avenida Guardia Civil N° 255 Of. 207 - San Borja
        .footer__midle__number
          a.footer__email(href="mailto:informes@huayna.com.pe") informes@huayna.com.pe
          a.footer__number(href='tel:5115123100') (+51) 982 366 535
        .footer__middle__redes
          ul
            li 
              a(href='https://es-la.facebook.com/', target='_blank', class='icon-facebook')
            li
              a(href='https://www.youtube.com/', target='_blank', class='icon-youtube')
            li
              a(href='https://www.instagram.com/?hl=es-la', target='_blank', class='icon-instagram')
  .footer-bottom
    .footer__bottom__content
      .footer__bottom__box
        .footer__bottom__derechos
           p Huayna - Todos los derechos reservados
        .footer__bottom__web
          p Diseño web: 
            a(href='https://www.staffdigital.pe/', target='_blank') StaffDigital