.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a(href="home.html").header-logo
				img.header-logo-desktop(src=`${STATIC_URL}img/logo-huayna2.svg`, alt="")
				img.header-logo-scroll(src=`${STATIC_URL}img/logo--scroll.svg`, alt="")
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link(href="nosotros.html") Nosotros
					li.header-item
						a.header-link(href="servicios.html") Servicios
					li.header-item
						a.header-link(href="proceso-seleccion.html") Proceso de Selección
					li.header-item
						a.header-link(href="novedades.html") Novedades
					li.header-item
						a.header__link--tel(href="tel:956691155") +51 956 691 155
					li.header__btn
						a(href="contacto.html").button__general.button__general--orange.button__general--effect1 PROTÉGETE AHORA


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt