extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- Contenido
block content
	section.mapcontacto
		.cnt-map
			.abrir-map Abrir mapa
			.box-map
				#google-maplima.map
				.btn-azul.cerrar-map cerrar mapa
	
	section.tabfull
		.tabcontacto
			.contac-nav
				.contac-padding
					h2 ¡Mantente conectado!
				.contact__list
					.contact__list__info
						a(href="#" target="_blank") Avenida Guardia Civil N° 255 Of.207 - San Borja
					.contact__list__info
						a(href="mailto:informes@huayna.com.pe") informes@huayna.com.pe
					.contact__list__info
						a(href="tel:982366535") (+51) 982 366 535
				.contacredes
					a(href="", class="icon-facebook")
					a(href="", class="icon-youtube")
					a(href="", class="icon-instagram")
			.contac-form
				.contact__form__container
					.contact__form__title
						h2 Escríbenos y te contactaremos
						p Escribenos tus dudas, consultas que tengas e inmediatamente nos estaremos conmunicando contigo.
					.contact__form__text
					form(action="")
						ul
							li
								.contac-input-box
									input.contact__input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos", class="validate[required]")
								.contac-input-box
									input.contact__input(type="tel", name="telefono", placeholder="Teléfono", class="validate[required]")
							li
								.contac-input-box
									input.contact__input(type="email", name="", placeholder="Email", class="validate[required, custom[email]]")
								.contac-input-box
									.contact__input__select
										select(name="")
											option(value="") Selecciona un servicio
											option(value="") servicio
							li
								.contac-input-box.contactextarea
									textarea.contact__input(name="mensaje", placeholder="Mensaje", class="validate[required]")
										
						button(href="#").button__general.button__general--orange.button__general--effect1 ENVIAR
						
//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script.
		$(function() {
			$('.contc-info').eq(0).addClass('active');
			$('.contact-tabs a').click(function(e) {
				e.preventDefault();
				$('.contact-tabs a').removeClass('active');
				$(this).addClass('active');
				var dataTab = $(this).attr('data-tab');
				$('.contc-info').removeClass('active');
				$('.contc-info[id="'+dataTab+'"]').addClass('active');
			});

			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 16,
					center           : myLatlng,
					mapTypeControl   : false,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"{{STATIC_URL}}img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});

			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});

			
		});
