extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.message__wrap
		.message__container
			.message__info
				.message__title
					h3 ERROR
					h4 LA PÁGINA NO EXISTE
				.message__text
					p Al parecer la página que estas buscando se rompió o no existe, porque no intestas volver a la página principal o  quizás encuentres lo que buscabas.
				.message__button
					a(href="home.html").button__general.button__general--orange.button__general--effect1 Regresar al Inicio

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})