extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'header--home'
//- ---

//- Contenido
block content
	.home__slider__wrap
		.home__slider
			ul.slider__principal__pitcher
				li.home__slider__item(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
					.home__slider__item__container
						.home__slider__item__content
							.home__slider__item__title
								h3 Pensando en tu seguridad 
									strong !Nos renovamos!
							//- a(href="https://www.youtube.com/watch?v=6ZfuNTqbHE8",target="_blank").home__slider__item__video__button
							//- 	span.home__slider__item__video__icon.icon-triangle
							//- 		.home__slider__item__video__icon__efect
							//- 			.home__slider__circle.circle1
							//- 			.home__slider__circle.circle2
							//- 			.home__slider__circle.circle3
							//- 	span.home__slider__item__video__text VER VIDEO

				li.home__slider__item
					.home__slider__inside__container.w-video.b1video.home__principal__slider--video
						#player1.video-iframe(data-video="6ZfuNTqbHE8")
						.home__slider__portada__video(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
					.home__slider__item__container
						.home__slider__item__content
							.home__slider__item__title
								h3 Pensando en tu seguridad 
									strong !Nos renovamos!
							a(href="https://www.youtube.com/watch?v=6ZfuNTqbHE8",target="_blank").home__slider__item__video__button
								span.home__slider__item__video__icon.icon-triangle
									.home__slider__item__video__icon__efect
										.home__slider__circle.circle1
										.home__slider__circle.circle2
										.home__slider__circle.circle3
								span.home__slider__item__video__text VER VIDEO
				li.home__slider__item(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
					.home__slider__item__container
						.home__slider__item__content
							.home__slider__item__title
								h3 Pensando en tu seguridad 
									strong !Nos renovamos!
							//- a(href="https://www.youtube.com/watch?v=6ZfuNTqbHE8",target="_blank").home__slider__item__video__button
							//- 	span.home__slider__item__video__icon.icon-triangle
							//- 		.home__slider__item__video__icon__efect
							//- 			.home__slider__circle.circle1
							//- 			.home__slider__circle.circle2
							//- 			.home__slider__circle.circle3
							//- 	span.home__slider__item__video__text VER VIDEO
				li.home__slider__item(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
					.home__slider__item__container
						.home__slider__item__content
							.home__slider__item__title
								h3 Pensando en tu seguridad 
									strong !Nos renovamos!
							//- a(href="https://www.youtube.com/watch?v=6ZfuNTqbHE8",target="_blank").home__slider__item__video__button
							//- 	span.home__slider__item__video__icon.icon-triangle
							//- 		.home__slider__item__video__icon__efect
							//- 			.home__slider__circle.circle1
							//- 			.home__slider__circle.circle2
							//- 			.home__slider__circle.circle3
							//- 	span.home__slider__item__video__text VER VIDEO
				li.home__slider__item(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
					.home__slider__item__container
						.home__slider__item__content
							.home__slider__item__title
								h3 Pensando en tu seguridad 
									strong !Nos renovamos!
							//- a(href="https://www.youtube.com/watch?v=6ZfuNTqbHE8",target="_blank").home__slider__item__video__button
							//- 	span.home__slider__item__video__icon.icon-triangle
							//- 		.home__slider__item__video__icon__efect
							//- 			.home__slider__circle.circle1
							//- 			.home__slider__circle.circle2
							//- 			.home__slider__circle.circle3
							//- 	span.home__slider__item__video__text VER VIDEO

			.home__slider__principal__pager
				.home__slider__principal__pager__container
					.home__slider__principal__pager__item
						span.home__slider__principal__pager__number 01
						.home__slider__principal__pager__text Seguridad y desarrollo a pasos gigantes
					.home__slider__principal__pager__item
						span.home__slider__principal__pager__number 02
						.home__slider__principal__pager__text Seguridad y desarrollo a pasos gigantes
					.home__slider__principal__pager__item
						span.home__slider__principal__pager__number 03
						.home__slider__principal__pager__text Seguridad y desarrollo a pasos gigantes
					.home__slider__principal__pager__item
						span.home__slider__principal__pager__number 04
						.home__slider__principal__pager__text Seguridad y desarrollo a pasos gigantes

	.home__servicios
		.home__servicios__container
			.home__servicios__title
				.general__title.general__title--center
					.general__title__title.general__title__title--gray.general__title__title--center
						h2 Nuestros servicios
					.general__title__text.general__title__text--uppercase
						p Seguridad y Vigilancia a la medida
			.home__servicios__items
				ul.home__servicios__slider__pitcher
					li.home__servicios__item
						a(href="servicios.html").home__servicios__item__inside
							.home__servicios__item__behind(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
							.home__servicios__item__above
								.home__servicios__item__title
									.home__servicios__item__title__image
										img.home__servicios__item__title__image__normal(src=`${STATIC_URL}img/home-servicio-icono.png`, alt="")
										img.home__servicios__item__title__image__hover(src=`${STATIC_URL}img/home-servicio-icono.png`, alt="")
									h3 Prevencionistas 
										strong de riesgos y pérdidas
								.home__servicios__item__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
								.home__servicios__item__button
									.home__servicios__item__button__text VER MÁS
									.home__servicios__item__video__button
										span.home__servicios__item__video__icon.icon-more
											.home__servicios__item__video__icon__efect
												.home__servicios__circle.circle1
												.home__servicios__circle.circle2
												.home__servicios__circle.circle3
					li.home__servicios__item
						a(href="servicios.html").home__servicios__item__inside
							.home__servicios__item__behind(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
							.home__servicios__item__above
								.home__servicios__item__title
									.home__servicios__item__title__image
										img.home__servicios__item__title__image__normal(src=`${STATIC_URL}img/home-servicio-icono.png`, alt="")
										img.home__servicios__item__title__image__hover(src=`${STATIC_URL}img/home-servicio-icono.png`, alt="")
									h3 Prevencionistas 
										strong de riesgos y pérdidas
								.home__servicios__item__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
								.home__servicios__item__button
									.home__servicios__item__button__text VER MÁS
									.home__servicios__item__video__button
										span.home__servicios__item__video__icon.icon-more
											.home__servicios__item__video__icon__efect
												.home__servicios__circle.circle1
												.home__servicios__circle.circle2
												.home__servicios__circle.circle3
					li.home__servicios__item
						a(href="servicios.html").home__servicios__item__inside
							.home__servicios__item__behind(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
							.home__servicios__item__above
								.home__servicios__item__title
									.home__servicios__item__title__image
										img.home__servicios__item__title__image__normal(src=`${STATIC_URL}img/home-servicio-icono.png`, alt="")
										img.home__servicios__item__title__image__hover(src=`${STATIC_URL}img/home-servicio-icono.png`, alt="")
									h3 Prevencionistas 
										strong de riesgos y pérdidas
								.home__servicios__item__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
								.home__servicios__item__button
									.home__servicios__item__button__text VER MÁS
									.home__servicios__item__video__button
										span.home__servicios__item__video__icon.icon-more
											.home__servicios__item__video__icon__efect
												.home__servicios__circle.circle1
												.home__servicios__circle.circle2
												.home__servicios__circle.circle3

	.home__testimoniales
		.home__testimoniales__container
			.home__testimoniales__slider
				ul.testimonios--slider--pitcher
					li.home__testimoniales__slider__wrap__item
						.home__testimoniales__slider__item
							.home__testimoniales__slider__item__image
								.home__testimoniales__slider__item__image__img
									img.home__testimoniales__slider__img__above(src=`${STATIC_URL}img/testimonio-image.png`)
									img.home__testimoniales__slider__img__behind(src=`${STATIC_URL}img/testimonio-image-behind.png`) 
								.home__testimoniales__slider__item__number 01
							.home__testimoniales__slider__item__info
								.home__testimoniales__slider__item__info__title
									.general__title.general__title--left
										.general__title__title.general__title__title--gray.general__title__title--left
											h2 Testimoniales
										.general__title__text.general__title__text--uppercase
											p La confianza que nos caracteriza
								.home__testimoniales__slider__item__info__text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, maiores. Natus porro veritatis placeat totam, perspiciatis voluptatum minima a, possimus quod, ad beatae doloribus omnis officia maiores quae quas eligendi.
								.home__testimoniales__slider__item__info__person
									h4 Rodrigo Venegas
									p Ceo costamar travel
					li.home__testimoniales__slider__wrap__item
						.home__testimoniales__slider__item
							.home__testimoniales__slider__item__image
								.home__testimoniales__slider__item__image__img
									img.home__testimoniales__slider__img__above(src=`${STATIC_URL}img/testimonio-image.png`)
									img.home__testimoniales__slider__img__behind(src=`${STATIC_URL}img/testimonio-image-behind.png`) 
								.home__testimoniales__slider__item__number 02
							.home__testimoniales__slider__item__info
								.home__testimoniales__slider__item__info__title
									.general__title.general__title--left
										.general__title__title.general__title__title--gray.general__title__title--left
											h2 Testimoniales
										.general__title__text.general__title__text--uppercase
											p La confianza que nos caracteriza
								.home__testimoniales__slider__item__info__text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, maiores. Natus porro veritatis placeat totam, perspiciatis voluptatum minima a, possimus quod, ad beatae doloribus omnis officia maiores quae quas eligendi.
								.home__testimoniales__slider__item__info__person
									h4 Rodrigo Venegas
									p Ceo costamar travel
					li.home__testimoniales__slider__wrap__item
						.home__testimoniales__slider__item
							.home__testimoniales__slider__item__image
								.home__testimoniales__slider__item__image__img
									img.home__testimoniales__slider__img__above(src=`${STATIC_URL}img/testimonio-image.png`)
									img.home__testimoniales__slider__img__behind(src=`${STATIC_URL}img/testimonio-image-behind.png`) 
								.home__testimoniales__slider__item__number 03
							.home__testimoniales__slider__item__info
								.home__testimoniales__slider__item__info__title
									.general__title.general__title--left
										.general__title__title.general__title__title--gray.general__title__title--left
											h2 Testimoniales
										.general__title__text.general__title__text--uppercase
											p La confianza que nos caracteriza
								.home__testimoniales__slider__item__info__text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, maiores. Natus porro veritatis placeat totam, perspiciatis voluptatum minima a, possimus quod, ad beatae doloribus omnis officia maiores quae quas eligendi.
								.home__testimoniales__slider__item__info__person
									h4 Rodrigo Venegas
									p Ceo costamar travel

	.home__departamentos__wrap
		.home__departamentos#home__departamentos(style=`background-image: url('${STATIC_URL}img/departamento-img.jpg')`)
			.home__departamentos__container
				.home__departamentos__left
					.home__departamentos__left__title
						h3 ¡Seguridad y vigilancia para más peruanos en más de 
							strong 20 departamentos!
				.home__departamentos__right
					.home__departamentos__right__image.one
						img(src=`${STATIC_URL}img/departamento-img-dos.png`)
					.home__departamentos__right__image.two
						img(src=`${STATIC_URL}img/departamento-img-dos.png`)
					.home__departamentos__right__image.three
						img(src=`${STATIC_URL}img/departamento-img-dos.png`)
		.home__departamentos__slider__images
			.home__departamentos__slider__list
				.home__departamentos__slider__list(style=`background-image: url('${STATIC_URL}img/departamento-img.jpg')`)
				.home__departamentos__slider__list(style=`background-image: url('${STATIC_URL}img/departamento-img.jpg')`)
				.home__departamentos__slider__list(style=`background-image: url('${STATIC_URL}img/departamento-img.jpg')`)

	.home__novedades
		.home__novedades__container
			.home__novedades__left
				.home__novedades__left__top
					.home__novedades__title
						.home__novedades__title__left
							.general__title.general__title--left
								.general__title__title.general__title__title--gray.general__title__title--left
									h2 Novedades
								.general__title__text.general__title__text--uppercase
									p ¡infórmate de seguridad con nosotros!
							.home__novedades__title__right
								a(href="novedades.html").button__general.button__general--transparent VER TODAS
				.home__novedades__left__bottom
					.home__novedades__left__bottom__item
						.home__novedades__left__bottom__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
						.home__novedades__left__bottom__info
							.home__novedades__left__bottom__info__title
								h3 Participamos activamente junto al grupo EDIFICAR
							.home__novedades__left__bottom__info__text__button
								.home__novedades__left__bottom__info__text
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, assumenda adipisicing elit. Optio, assumenda.
								.home__novedades__left__bottom__info__button
									a(href="novedades-detalle.html").button__general.button__general--orange.button__general--effect1 LEER MÁS
					.home__novedades__left__bottom__item
						.home__novedades__left__bottom__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
						.home__novedades__left__bottom__info
							.home__novedades__left__bottom__info__title
								h3 Participamos activamente junto al grupo EDIFICAR
							.home__novedades__left__bottom__info__text__button
								.home__novedades__left__bottom__info__text
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, assumenda adipisicing elit. Optio, assumenda.
								.home__novedades__left__bottom__info__button
									a(href="novedades-detalle.html").button__general.button__general--orange.button__general--effect1 LEER MÁS
					.home__novedades__left__bottom__item
						.home__novedades__left__bottom__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
						.home__novedades__left__bottom__info
							.home__novedades__left__bottom__info__title
								h3 Participamos activamente junto al grupo EDIFICAR
							.home__novedades__left__bottom__info__text__button
								.home__novedades__left__bottom__info__text
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, assumenda adipisicing elit. Optio, assumenda.
								.home__novedades__left__bottom__info__button
									a(href="novedades-detalle.html").button__general.button__general--orange.button__general--effect1 LEER MÁS
			.home__novedades___right
				.home__novedades__right__info
					.home__novedades__right__title
						.home__novedades__right__title__inside
							h3 Redes sociales
						.home__novedades__right__title__inside__text
							p 
								strong ¡Mantente 
								| conectado
								|!
						.home__novedades__right__redes
							ul
								li
									a.icon-facebook(href="https://es-la.facebook.com/", target="_blank")
								li
									a.icon-youtube(href="https://www.youtube.com/", target="_blank")
								li
									a.icon-instagram(href="https://www.instagram.com/?hl=es-la", target="_blank")
				
					.home__novedades__right__image(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)

	.home__clientes
		.home__clientes__container
			.home__clientes__title
				.general__title.general__title--center
					.general__title__title.general__title__title--gray.general__title__title--center
						h2 Clientes
					.general__title__text.general__title__text--uppercase
						p ellos nos respaldan
			.home__clientes__slider
				ul.slider__carrousel__clients--js
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)
					li
						a(href="#", target="_blank")
							img(src=`${STATIC_URL}img/client-image.png`)



//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		var video1 = "6ZfuNTqbHE8"
			// script video
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var playerInfoList = [
				{
					id: 'player1',
					height: '390',
					width: '640',
					videoId:video1,
					playerVars: {
						autoplay: 1,
						// loop: 1,
						// playlist: video1,
						rel:0,
						controls: 0,
						autohide: 1,
						showinfo: 0,
						allowfullscreen: true,
						modestbranding: 1
					},
					events: {
						'onReady': onPlayerReady,
						'onStateChange': onPlayerStateChange
					}
				},
			];

			function onYouTubeIframeAPIReady() {
				if (typeof playerInfoList === 'undefined') return;

				for (var i = 0; i < playerInfoList.length; i++) {
					var curplayer = createPlayer(playerInfoList[i]);
					players[i] = curplayer;
				}
			}

			var players = new Array();

			function createPlayer(playerInfo) {
				return new YT.Player(playerInfo.id, {
					height: playerInfo.height,
					width: playerInfo.width,
					videoId: playerInfo.videoId,
					playerVars: playerInfo.playerVars,
					events: playerInfo.events,
					playlist: playerInfo.playlist
				});
			}

			function onPlayerReady(event) {
				event.target.stopVideo();
				event.target.mute();
				// $(players).each(function (i) {
				//      console.log(this);
				//      this.mute();
				// });

			}

			var done = false;
			function onPlayerStateChange(event) {

			}
			function stopVideo() {
				videoactual[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
				 // player.stopVideo();
			}

			function playvideo(){
				videoactual[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
			}
			function pausevideo(){
				videoactual[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
			}
		$(()=>{
			//- slider principal
			var slider_home = $('.slider__principal__pitcher').bxSlider({
				mode: 'fade',
				controls:false,
				nextText: '',
				prevText: '',
				pager:true,
				adaptiveHeight:true,
				auto: true,
				pause: 5000,
				onSliderLoad: function(currentIndex) {
					$('.slider__principal__pitcher').children().eq(currentIndex).addClass('active')
					$('.home__slider__principal__pager__item').eq(0).addClass('active');
				},
				onSlideBefore: function($slideElement){

					if($($slideElement).find(".b1video").length){
							videoactual =  $($slideElement).find('.video-iframe');
							slider_home.stopAuto()
							stopVideo();
							playvideo();
						}else{
							slider_home.startAuto()
							
						}
				},
				onSlideAfter: function($slideElement, oldIndex, newIndex){
						
					$('.home__slider__principal__pager__item').eq(oldIndex).removeClass('active');
					$('.home__slider__principal__pager__item').eq(newIndex).addClass('active');
				}
			});

			$('.home__slider__principal__pager__item').eq(0).click((e)=>{
				e.preventDefault()
				slider_home.goToSlide(0)
			})
			$('.home__slider__principal__pager__item').eq(1).click((e)=>{
				e.preventDefault()
				slider_home.goToSlide(1)
			})
			$('.home__slider__principal__pager__item').eq(2).click((e)=>{
				e.preventDefault()
				slider_home.goToSlide(2)
			})
			$('.home__slider__principal__pager__item').eq(3).click((e)=>{
				e.preventDefault()
				slider_home.goToSlide(3)
			});

			// reproductor video - jquery 3.2.0
			//- var url ="https://www.youtube.com/embed/";
			//- var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"
			//- $('.w-play').click(function(event) {
			//- 	play = $(this)
			//- 	play.addClass('anima');
			//- 	videocurrent = $(this).closest('.w-video').find('.service__video__slider__iframe');
			//- 	videoid = videocurrent.attr('data-video');
			//- 	videocurrent.attr('src', url+videoid+config);
			//- 	videocurrent.on('load', function() {
			//- 		play.closest('.w-video').find('.w-portada').addClass('active');
			//- 		play.addClass('active');
			//- 		videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*'); 
			//- 	});
			//- });


			//- servicios
			var servicios__item__num = $('.home__servicios__item').length;
			var device__width = $(window).width();
			if(servicios__item__num > 3 || device__width < 1024){
				$('.home__servicios__slider__pitcher').slick({
					slidesToShow: 3,
					slidesToScroll: 1,
					infinite: true,
					autoplay: true,
					arrows: false,
					 responsive: [
						{
							breakpoint: 1024,
							settings: {
								slidesToShow: 2,
								slidesToScroll: 1
							}
						},
						{
							breakpoint: 767,
							settings: {
								slidesToShow: 1,
								slidesToScroll: 1
							}
						}
					]
				});
			}

			//- testimonios
			$('.testimonios--slider--pitcher').bxSlider({
				auto: true,
				mode:'fade',
				speed: '2000',
				autoControls: false,
				controls:false,
				pager:true,
				onSliderLoad: function(currentIndex) {
					$('.testimonios--slider--pitcher').children().eq(currentIndex).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.testimonios--slider--pitcher').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});

			//- departamentos
			var departamentos__block = $('#home__departamentos');
			departamentos__block.waypoint(function(direction) {
				if (direction === 'down') {
					$('.home__departamentos__right').addClass('active');
				}else{
					$('.home__departamentos__right').removeClass('active');
				}
			}, {
				offset:'70%'
			});


			$('.home__departamentos__slider__list').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				infinite: true,
				autoplay: true,
				arrows: false
			});


			function linkToParent(i){
				$(i).each(function(index, el) {
					$(el).css('cursor', 'pointer').click(function(e) {
						$( location ).attr("href", $(el).find('a').attr('href').split('#')[0]);
					});
				});
			}

			linkToParent('.home__novedades__left__bottom__item');

				
			//- clients
			$('.slider__carrousel__clients--js').slick({
				infinite: true,
				speed: 300,
				slidesToShow: 6,
				slidesToScroll: 1,
				margin: 0,
				dots: false,
				arrows: false,
				responsive: [
					{
						breakpoint: 1025,
						settings: {
						slidesToShow: 4
						}
					},
					{
						breakpoint: 641,
						settings: {
						slidesToShow: 3
						}
					},
					{
						breakpoint: 481,
						settings: {
						slidesToShow: 2
						}
					},
					{
						breakpoint: 361,
						settings: {
						slidesToShow: 1
						}
					}
				]
			});
			
		})