extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- Contenido
block content
	section.nosotros__banner
		.nosotros__banner__container
			.nosotros__banner__background(style=`background-image: url('${STATIC_URL}img/banner-nosotros.png')`)
				.nosotros__banner__content
					.nosotros__banner__box
						.nosotros__banner__title
							general__title.general__title--left
								.general__title__title.general__title__title--transparent.general__title__title--left
									h2 Nosotros
								.nosotros__banner__number
									p 10 años
								.general__title__text.general__title__title--normal
									p Velando por la seguridad de los peruanos
						.nosotros__banner__text
							p Huayna es una empresa de seguridad peruana constituida bajo el objetivo de identificar las necesidades de seguridad y vigilancia de las empresas e instituciones, simplificando las tareas de resolución de problemas que puedan surgir en los lugares de trabajo y satisfaciendo los requerimientos de nuestros clientes de una manera innovadora.

	section.nosotros__valores
		.nosotros__valores__container
			.nosotros__valores__content
				.nosotros__valores__title
					.general__title.general__title--center
						.general__title__title.general__title__title--gray.general__title__title--center
							h2 Nuestros valores
						.general__title__text.general__title__text--uppercase
							p Nuestra filosofía a través del tiempo
				.nosotros__valores__box
					.nosotros__valores__img
						img(src=`${STATIC_URL}img/logo-nosotros.png`)
					.nosotros__valores__items
						- for (var x = 0; x < 4; x++)
							.nosotros__valores__block
								.nosotros__valores__block__content
									.nosotros__valores__block__title
										h4 El futuro de hoy
									.nosotros__valores__text
										p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto de las imprentas y archivos de texto.

	section.nosotros__certificaciones
		.nosotros__certificaciones__container
			.nosotros__certificaciones__content
				.nosotros__certificaciones__title
					.nosotros__certificaciones__text
						h3 Nuestras certificaciones
				.nosotros__certificaciones__logos
					.nosotros__certificaciones__slider
						- for (var i = 0; i < 3; i++)
							.nosotros__certificaciones__box
								img(src=`${STATIC_URL}img/certifica-logo2.png`)

	section.nosotros__slider
		.nosotros__slider__container
			.nosotros__slider__content
				.nosotros__slider__info
					.nosotros__slider__info__box.slider-for
						- for (var y = 0; y < 12; y++)
							.nosotros__slider__box
								.nosotros__slider__info__content
									.nosotros__slider__text
										.nosotros__slider__number__responsive
											p 1995
										.nosotros__slider__title
											h3 Huayna, más que seguridad y vigilancia, una familia
										.nosotros__slider__p
											p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un.
									.nosotros__slider__image
										img(src=`${STATIC_URL}img/proceso-requisitos-img.png`)
				.nosotros__slider__number
					.nosotros__slider__number__box
						.nosotros__slider__number__content.slider-nav
							- for (var a = 0; a < 12; a++)
								.nosotros__slider__number__item
									.nosotros__slider__number__text
										p 1995
									span.nosotros__slider__number__point


//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- linea de tiempo
			$('.slider-for').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				responsive: [
					{
					breakpoint: 980,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1,
						infinite: true,
						dots: false,
						arrows: true,
						fade: false,
						autoplay: true
						}
					},
				]
			});

			$('.slider-nav').slick({
				slidesToShow: 7,
				slidesToScroll: 1,
				asNavFor: '.slider-for',
				dots: false,
				arrows: true,
				centerMode: true,
				focusOnSelect: true
			});
		})