extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- Contenido
block content
	section.novedades__detalle__banner
		.novedades__detalle__banner__container
			.novedades__detalle__banner__background(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
				.novedades__detalle__banner__content
					.novedades__detalle__banner__box
						.novedades__detalle__banner__date
							.novedades__detalle__banner__day
								.novedades__detalle__banner__number
									p 20
								.novedades__detalle__banner__text
									p sep
						.novedades__detalle__banner__title
							.general__title.general__title--left
								.general__title__title.general__title__title--transparent.general__title__title--left
									h2 Novedades
								.general__title__text.general__title__title--normal
									p Pensando en tu seguridad ¡Nos renovamos!

	section.novedades__detalle__info
		.novedades__detalle__info__container
			.novedades__detalle__info__image
				img(src=`${STATIC_URL}img/novedades-detalle-img.png`)
			.novedades__detalle__info__content
				.novedades__detalle__info__text
					p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
				.novedades__detalle__info__title
					h3 “Todos los proyectos tienen la seguridad y vigilancia de más de 120 personas pertenencientes a HUAYNA”
				.novedades__detalle__info__text
					p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
					br
					|Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
			.novedades__detalle__info__compartir
				.novedades__detalle__info__compartir__text
					p Compartir en
				.novedades__detalle__info__redes
					a(href="#", target="_blank")
						span.novedades__detalle__info__icon.icon-facebook
					a(href="#", target="_blank")
						span.novedades__detalle__info__icon.icon-youtube
					a(href="#", target="_blank")
						span.novedades__detalle__info__icon.icon-instagram
				.novedades__detalle__info__btn
					a(href="novedades.html").button__general.button__general--transparent VER MÁS NOTICIAS


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})