extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- Contenido
block content
	section.novedades__banner
		.novedades__banner__container
			.novedades__banner__background(style=`background-image: url('${STATIC_URL}img/banner-general.png')`)
				.novedades__banner__content
					.novedades__banner__title
						.general__title.general__title--center
							.general__title__title.general__title__title--transparent.general__title__title--center
								h2 Novedades
							.general__title__text.general__title__title--normal
								p ¡Infórmate de Seguridad con nosotros!

	section.novedades__info
		.novedades__info__container
			.novedades__info__content
				- for (var x = 0; x < 4; x++)
					.novedades__info__box
						.novedades__info__item
							.novedades__item__image
								img(src=`${STATIC_URL}img/novedades-img.png`)
							.novedades__item__text
								.novedades__text__title__box
									.novedades__text__day
										.novedades__text__number
											p 20
										.novedades__text__mes
											p sep
									.novedades__text__title
										h3 Los Portales de la mano de Huayna inauguran nuevo estacionamiento
								.novedades__text__intro
									p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor...
								.novedades__links
									.novedades__links__icons
										a(href="#", target="_blank")
											span.novedades__icon.icon-facebook
										a(href="#", target="_blank")
											span.novedades__icon.icon-youtube
										a(href="#", target="_blank")
											span.novedades__icon.icon-instagram
									.novedades__links__btn
										a(href="novedades-detalle.html").button__general.button__general--line LEER MÁS
		.novedades__info__paginador
			.novedades__paginador__content
				.novedades__paginador__icon
					span.icon-arrow-left
				.novedades__paginador__number
					ul.novedades__paginador__list
						li 1
						li 2
						li 3
						li 4
						li 5
				.novedades__paginador__icon
					span.icon-arrow-right




//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})