extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- Contenido
block content
	section.proceso__banner
		.proceso__banner__container
			.proceso__banner__background(style=`background-image: url('${STATIC_URL}img/banner-proceso.png')`)
				.proceso__banner__content
					.proceso__banner__box
						.proceso__banner__title
							.general__title.general__title--left
								.general__title__title.general__title__title--transparent.general__title__title--left
									h2 Proceso de selección
								.general__title__text.general__title__title--normal
									p Sigue paso a paso nuestro sistema de selección de personal
						.proceso__banner__text
							.proceso__banner__info
								p Nuestro personal es sometido a un minucioso proceso de selección, evaluación y capacitación, garantizando la calidad y seguridad en los servicios que brindamos.
							.proceso__banner__requisitos
								a(href="#requisitos").button__general.button__general--line MIRA LOS REQUISITOS
	
	section.proceso__pasos
		.proceso__pasos__container
			.proceso__pasos__content
				- for (var x = 0; x < 11; x++)
					.proceso__pasos__box
						.proceso__pasos__img
							.proceso__pasos__img__content
								img(src=`${STATIC_URL}img/img-requisitos.png`)
						.proceso__pasos__active
							.proceso__pasos__circle
						.proceso__pasos__title
							.proceso__pasos__title__content
								.proceso__pasos__number
									span 01
								.proceso__pasos__text
									p Aplicación de pruebas psicotécnicas y proyectivas

	section#requisitos.proceso__requisitos
		.proceso__requisitos__container
			.proceso__requisitos__content
				.proceso__requisitos__image
					img(src=`${STATIC_URL}img/proceso-requisitos-img.png`)
				.proceso__requisitos__info
					.proceso__requisitos__title
						.general__title.general__title--left
							.general__title__title.general__title__title--gray.general__title__title--left
								h2 Requisitos
							.general__title__text.general__title__text--uppercase
								p ¡FORMA PARTE DE LA FAMILIA HUAYNA!
					.proceso__requisitos__list
						ul
							li - Certificado de antedentes penales, policiales y judiciales (a nivel nacional)
							li - Certificado de estudios realizados
							li - Certificado de trabajos anteriores
							li - Croquis de su domicilio para la verificación domiciliaria
							li - Copia simple de DNI
							li - Copia simple de licencia de conducir (No indispensable)
							li - Fotografías tamaño carné (02)
							li - Números telefónicos de los trabajos anteriores para verificación de sus antecedentes laborales (02 como mínimo)
							li - Nombre de Padre y Madre
							li - Fecha y lugar de nacimiento


//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			// animation
			$('.proceso__pasos__box').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						$(el).removeClass('active');
						//- $('.proceso__pasos__box').eq(0).addClass('active');
					}
				}, {
					offset:'70%'
				});
			});

			$('.proceso__banner__requisitos a').click(function(e){
			 e.preventDefault();
				 element  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(element).offset().top -200
				 }, 2000);
			 });
		})