extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)

//- Contenido
block content
	section.servicios__banner
		.servicios__banner__container
			.servicios__banner__background(style=`background-image: url('${STATIC_URL}img/servicios-banner.png')`)
				.servicios__banner__content
					.servicios__banner__box
						.servicios__banner__title
							.general__title.general__title--left
								.general__title__title.general__title__title--transparent.general__title__title--left
									h2 Nuestros servicios
								.general__title__text.general__title__title--normal
									.servicios__banner__icon
										img(src=`${STATIC_URL}img/servicios-banner-icon.png`)
									p Prevencionistas de riesgos y pérdidas
						.servicios__banner__text
							p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor, Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.

	section.servicios__asesor
		.servicios__asesor__container
			.servicios__asesor__content
				.servicios__asesor__title
					.servicios__asesor__title__text
						h3 Solicita este servicio aquí
					.servicios__asesor__title__btn
						a(href="contacto.html").button__general.button__general--orange.button__general--effect2 CONTACTAR UN ASESOR
				.servicios__asesor__img
					img(src=`${STATIC_URL}img/servicios-solicita-img.png`)
					.servicios__asesor__icon__video.fancy--video
						.servicios__icon__video__box
							a.servicios__icon__video(href="https://www.youtube.com/watch?v=L9szn1QQfas")
								span.icon-triangle

	section.servicios__list
		.servicios__list__container
			.servicios__list__content
				.servicios__list__image
					img(src=`${STATIC_URL}img/servicios-img.png`)
				.servicios__list__box
					.servicios__list__text
						p Presentes en más de 8 rubros ¡Y vamos por más! y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor:
					.servicios__list__items
						ul
							li Seguridad en el sector energía y minas
							li Seguridad en el sector de construcción e inmobiliaria
							li Seguridad en Industrias
							li Seguridad en cadena logística
							li Seguridad Aeroportuaria
							li Seguridad empresas de servicios

	section.servicios__options
		.servicios__options__container
			.servicios__options__content
				.servicio__options__title
					h3 Otros de nuestros servicios
				.servicios__options__items
					.servicios__options__items__content
						.servicios__items__box
							.servicios__items__box__icon
								img(src=`${STATIC_URL}img/servicios-icon-1.png`)
							.servicios__items__box__text
								p Seguridad y Vigilancia
								a(href="#") Ver servicio
						.servicios__items__box
							.servicios__items__box__icon
								img(src=`${STATIC_URL}img/servicios-icon-2.png`)
							.servicios__items__box__text
								p Resguardo personal
								a(href="#") Ver servicio


//- js
append scripts 
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-zoom`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-autoplay.js`)
	script.
		$(()=>{
			//fancy video
			$('.fancy--video').lightGallery({
				selector: 'a'
			});
		})