.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 300px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: $blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: $c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100
			
.tabcontacto
	max-width: 1150px
	width: 95%
	margin: auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-bottom: 66px
	align-items: flex-start

.contac-nav
	width: 32%
	background: $c-3
	display: inline-block
	box-sizing: border-box
	padding: 65px 0px
	position: relative
	margin-top: -45px
	h2
		font-size: 34px
		font-family: $t-2
		color: $blanco
		margin-bottom: 30px

.contac-padding
	padding: 0px 55px		

.contacredes
	display: flex
	justify-content: flex-start
	align-items: center
	padding: 0px 55px
	text-align: left
	span
		font-size: 16px
		color: $blanco
	a
		color: $blanco
		font-size: 20px
		text-decoration: none
		margin-right: 30px
		margin-left: 0

.contact__list
	padding: 0px 55px 50px 55px

.contact__list__info
	padding-bottom: 25px
	font-size: 18px
	font-family: $t-0
	color: $blanco
	p
		margin-bottom: 0
	a
		color: $blanco
		display: block

.contact__form__container
	padding: 65px

.contac-form
	width: 56%
	margin-left: 6%
	background: $blanco
	position: relative
	margin-top: -45px
	box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.08)
	li
		flex-wrap: wrap
		display: flex
		justify-content: flex-start

.contact__form__title
	padding-bottom: 40px
	h2
		font-size: 32px
		color: $c-0
		margin-bottom: 20px
		font-family: $t-2
	p
		font-size: 15px
		color: $c-2
		margin-bottom: 0
		font-family: $t-0

.contac-input-box
	width: 45%	
	margin-bottom: 60px
	input, textarea, select
		background: none
		font-size: 15px
		color: $c-9
		font-size: 15px
		font-family: $t-4
		width: 100%
		height: 40px
		border: none
		border-bottom: 0.5px solid $c-7
		padding: 0px 15px
		box-sizing: border-box
	&:first-child
		margin-right: 10%

.contact__input::placeholder
	color: $c-9

.contactextarea
	width: 100%
	margin-right: 0 !important

.contact__input__select
	position: relative
	select
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none
	&:before
		content: '\e608'
		position: absolute
		font-family: $icomoon
		top: 0
		right: 8px
		color: $c-9
		font-size: 28px
		line-height: 1.5

@media screen and (max-width: 980px)
	.tabcontacto
		flex-direction: column
	.contac-nav
		width: 90%
		margin-left: auto
		margin-right: auto
		margin-bottom: 40px

	.contac-form
		width: 90%
		margin: auto

	.contact__form__title
		h2
			font-size: 26px
	.contac-padding	
		h2
			font-size: 28px

	.contact__list__info
		font-size: 16px
	
@media screen and (max-width: 640px)
	.contac-nav
		width: 100%
	.contac-form
		width: 100%

	.contac-input-box
		width: 100%
		margin-bottom: 40px
		&:first-child
			margin-right: 0

@media screen and (max-width: 480px)
	.contact__form__container
		padding: 30px

	.contact__list
		padding: 0 30px 10px 30px

	.contac-padding,
	.contacredes
		padding: 0 30px


// VALIDATE
.formError
	.formErrorContent,
	.formErrorArrow div
		background-color: $c-3 !important
		color: $blanco !important
		border: none !important
		font-size: 13px !important
		font-family: $t-0  !important
	.formErrorArrow
		.line1,.line2
			display: none 