.message__wrap
	height: 650px

.message__container
	max-width: 480px
	height: 100%
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	text-align: center
	display: flex
	align-items: center
	justify-content: center

.message__title
	h3
		font-size: 100px
		color: $c-1
		font-family: $t-2
		margin: 0
	h4
		font-size: 27px
		margin: 0
		font-family: $t-1

.title__general--center
	text-align: center
	
.title__general--right
	text-align: right

.message__text
	margin-top: 60px
	color: $c-0
	font-size: 16px
	p
		margin: 0
		line-height: 1.4

.message__button
	margin-top: 60px

@media screen and (max-width: 1024px)
	.message__title
		h3
			font-size: 70px
		h4
			font-size: 20px

@media screen and (max-width: 767px)
	.message__wrap
		height: auto
		padding: 100px 0 50px 0

	.message__title
		h3
			font-size: 50px
		h4
			font-size: 20px

	.message__button
		margin-top: 40px

	.message__text
		margin-top: 40px

@media screen and (max-width: 1024px)
	.header-relative .header-wrap
		height: 60px

	.header-relative .header-fixed
		height: 60px

	.header-relative .header-fixed .header-logo img
		width: 100%

	.header-relative .header-logo
		max-width: 35px