.nosotros__banner__container
	width: 100%
	height: 500px

.nosotros__banner__background
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

.nosotros__banner__content
	max-width: 1240px
	margin: auto
	padding: 0px 20px
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.nosotros__banner__box
	width: 40%
	margin: auto
	margin-right: 0

.nosotros__banner__title
	padding-bottom: 20px
	.general__title__text
		font-size: 32px

.nosotros__banner__number
	font-family: $t-2
	font-size: 60px
	color: $c-3
	line-height: 0.6
	padding-top: 25px
	p
		margin-bottom: 0

.nosotros__banner__text
	font-family: $t-0
	font-size: 18px
	color: $blanco
	line-height: 1.33
	p
		margin-bottom: 0

.nosotros__valores
	padding-top: 56px
	padding-bottom: 62px

.nosotros__valores__container
	max-width: 1100px
	margin: auto
	padding: 0px 20px

.nosotros__valores__title
	padding-bottom: 55px

.nosotros__valores__box
	position: relative

.nosotros__valores__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.nosotros__valores__img
	width: 271px
	margin: auto
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0

.nosotros__valores__block
	width: calc(50% - 135px)
	margin: auto
	padding-bottom: 50px
	padding-top: 20px
	&:nth-child(1)
		margin-left: 0
	&:nth-child(2)
		margin-right: 0
	&:nth-child(3)
		margin-left: 0
	&:nth-child(4)
		margin-right: 0

.nosotros__valores__block__content
	padding: 0px 55px

.nosotros__valores__block__title
	padding-bottom: 10px
	h4
		font-family: $t-2
		font-size: 20px
		text-align: center
		color: $c-1
		margin-bottom: 0

.nosotros__valores__text
	font-family: $t-0
	font-size: 16px
	line-height: 1.38
	text-align: center
	color: $c-1
	p
		margin-bottom: 0

.nosotros__certificaciones
	background-color: $c-5
	margin-bottom: 65px

.nosotros__certificaciones__container
	max-width: 780px
	margin: auto
	padding: 30px 20px

.nosotros__certificaciones__content
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: flex-start
	align-items: center

.nosotros__certificaciones__title
	width: 40%

.nosotros__certificaciones__text
	h3
		font-family: $t-2
		font-size: 26px
		color: $c-0
		margin-bottom: 0

.nosotros__certificaciones__logos
	width: 55%

.nosotros__certificaciones__box
	padding: 0px 20px
	img
		width: auto

.nosotros__certificaciones__slider
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.nosotros__slider
	padding-bottom: 30px
	position: relative
	&:before
		content: ''
		width: 100%
		height: 2px
		background-color: $c-6
		left: 0
		bottom: 10.5%
		position: absolute
		display: block

.nosotros__slider__container
	max-width: 1050px
	margin: auto
	padding: 0px 50px

.nosotros__slider__info__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.nosotros__slider__text
	width: 45%
	padding-right: 5%

.nosotros__slider__title
	padding-bottom: 20px
	h3
		font-family: $t-2
		font-size: 32px
		line-height: 1.06
		color: $c-0
		margin-bottom: 0

.nosotros__slider__p
	font-family: $t-0
	font-size: 16px
	color: $c-0
	line-height: 1.5
	p
		margin-bottom: 0

.nosotros__slider__image
	width: 50%

.nosotros__slider__number__box
	margin-top: -70px

.nosotros__slider__number__item
	&.slick-center
		.nosotros__slider__number__text
			opacity: 1
			visibility: visible
			transition: all .8s ease-in-out
			padding-bottom: 0
		.nosotros__slider__number__point
			width: 27px
			height: 27px
			background-color: $c-3
			transition: all .8s ease-in-out

.nosotros__slider__number__text
	font-family: $t-2
	font-size: 70px
	color: $c-3
	text-align: center
	opacity: 0
	visibility: hidden
	padding-bottom: 8px
	p
		margin-bottom: 0

.nosotros__slider__number__point
	width: 15px
	height: 15px
	background-color: $c-6
	border-radius: 100%
	display: block
	cursor: pointer

.nosotros__slider__number__content
	.slick-prev
		left: -50px
		top: -80px
		&:before
			content: '\e907'
			font-family: $icomoon
			color: $c-0
			font-size: 28px
	.slick-next
		right: -50px
		top: -80px
		&:before
			content: '\e908'
			font-family: $icomoon
			color: $c-0
			font-size: 28px

.nosotros__slider__number__responsive
	font-family: $t-2
	font-size: 50px
	color: $c-3
	padding-bottom: 5px
	display: none
	p
		margin-bottom: 0

@media screen and (max-width: 980px)
	.nosotros__banner__background
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background: rgba(70, 79, 88, 0.9)

	.nosotros__banner__content
		position: relative

	.nosotros__banner__box
		width: 80%
		margin-right: auto

	.nosotros__certificaciones__title
		width: 100%
		text-align: center
		padding-bottom: 35px

	.nosotros__certificaciones__logos
		width: 100%

	.nosotros__valores__img
		display: none

	.nosotros__valores__block
		width: 50%

	.nosotros__valores__block__title
		h4
			font-size: 18px

	.nosotros__valores__text
		font-size: 14px

	.nosotros__slider__image
		display: none

	.nosotros__slider__text
		width: 80%
		padding-right: 0
		margin: auto

	.nosotros__slider
		padding-bottom: 60px
		&:before
			display: none

	.nosotros__slider__number
		display: none

	.nosotros__slider__info
		.slick-prev
			&:before
				content: '\e907'
				font-family: $icomoon
				color: $c-0
				font-size: 28px
		.slick-next
			&:before
				content: '\e908'
				font-family: $icomoon
				color: $c-0
				font-size: 28px

	.nosotros__slider__title
		h3
			font-size: 28px

	.nosotros__slider__number__responsive
		display: block

@media screen and (max-width: 640px)
	.nosotros__valores__block__content
		padding: 0px 25px

	.nosotros__banner__box
		width: 90%

	.nosotros__banner__container
		height: 430px

	.nosotros__banner__number
		font-size: 40px

	.nosotros__banner__title
		.general__title__text
			font-size: 28px

	.nosotros__banner__text
		font-size: 15px

	.nosotros__slider__p
		font-size: 14px

	.nosotros__slider__title
		h3
			font-size: 23px

	.nosotros__slider__text
		width: 90%

	.nosotros__slider__number__responsive
		font-size: 40px

@media screen and (max-width: 490px)
	.nosotros__valores__block
		width: 100%

	.nosotros__valores__title
		padding-bottom: 30px

	.nosotros__valores__block
		padding-bottom: 25px

	.nosotros__valores__block__content
		padding: 0 0

	.nosotros__banner__box
		width: 100%

	.nosotros__certificaciones__box
		padding: 10px 20px

@media screen and (max-width: 390px)
	.nosotros__banner__title
		.general__title__text
			font-size: 23px

	.nosotros__banner__number
		font-size: 30px

	.nosotros__banner__container
		height: 480px

	.nosotros__slider__container
		padding: 0px 25px

	.nosotros__slider__p
		font-size: 13px

	.nosotros__slider__number__responsive
		font-size: 35px