.novedades__banner__container
	width: 100%
	height: 250px

.novedades__banner__background
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(70, 79, 88, 0.9)

.novedades__banner__content
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.novedades__banner__title
	margin: auto
	text-align: center
	padding: 0px 20px

.novedades__info
	padding: 50px 0px

.novedades__info__container
	max-width: 1200px
	margin: auto
	padding: 0px 20px

.novedades__info__box
	padding: 40px 0px
	border-bottom: 1px solid $c-10
	&:first-child
		padding-top: 0px
	&:nth-child(odd)
		.novedades__info__item
			flex-direction: row
		.novedades__item__text
			padding-left: 5%
	&:nth-child(even)
		.novedades__info__item
			flex-direction: row-reverse
		.novedades__item__text
			padding-right: 5%

.novedades__info__item
	max-width: 1072px
	margin: auto
	display: flex
	flex-wrap: wrap
	justify-content: flex-start

.novedades__item__image
	width: 40%
	margin: auto

.novedades__item__text
	width: 50%
	margin: auto

.novedades__text__title__box
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding-bottom: 26px

.novedades__text__day
	background-color: $c-3
	border-radius: 4px
	padding: 5px 18px

.novedades__text__mes
	font-family: $t-0
	font-size: 18px
	color: $blanco
	p
		margin-bottom: 0

.novedades__text__number
	font-family: $t-2
	font-size: 26px
	color: $blanco
	p
		margin-bottom: 0

.novedades__text__title
	padding-left: 25px
	h3
		font-family: $t-2
		color: $c-0
		font-size: 24px
		line-height: 1.17
		margin-bottom: 0

.novedades__text__intro
	font-family: $t-0
	font-size: 18px
	color: $c-2
	line-height: 1.33
	padding-bottom: 24px
	p
		margin-bottom: 0


.novedades__links
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.novedades__links__icons
	margin-left: 0
	margin-right: auto
	a
		color: $c-0
		margin: 0px 11px
		transition: all .2s ease-in-out
		&:hover
			color: $c-3
			transition: all .2s ease-in-out

.novedades__links__btn
	margin-right: 0
	margin-left: auto

.novedades__info__paginador
	padding-top: 26px

.novedades__paginador__content
	max-width: 300px
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.novedades__paginador__number
	padding: 0px 18px

.novedades__paginador__list
	li
		display: inline-block
		font-family: $t-0
		color: $c-8
		font-size: 16px
		padding: 3px 6px
		margin: 0px 3px
		cursor: pointer
		transition: all .2s ease-in-out
		&.active
			background: $c-5
		&:hover
			background: $c-5
			transition: all .2s ease-in-out

.novedades__paginador__icon
	color: $c-0
	font-size: 20px
	cursor: pointer

@media screen and (max-width: 1026px)
	.novedades__text__title
		h3
			font-size: 20px

	.novedades__text__intro
		font-size: 15px

@media screen and (max-width: 890px)
	.novedades__info__box
		&:nth-child(odd)
			.novedades__item__text
				padding-left: 0
		&:nth-child(even)
			.novedades__item__text
				padding-right: 0

	.novedades__item__image
		width: 75%

	.novedades__item__text
		width: 75%
		padding-top: 30px

@media screen and (max-width: 640px)
	.novedades__item__image
		width: 90%

	.novedades__item__text
		width: 90%

	.novedades__text__day
		padding: 5px 15px

	.novedades__text__number
		font-size: 24px

	.novedades__text__mes
		font-size: 15px

	.novedades__text__title
		h3
			font-size: 17px

	.novedades__text__intro
		font-size: 14px

@media screen and (max-width: 490px)
	.novedades__item__image
		width: 100%

	.novedades__item__text
		width: 100%