.novedades__detalle__banner__container
	width: 100%
	height: 300px

.novedades__detalle__banner__background
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(70, 79, 88, 0.9)

.novedades__detalle__banner__content
	max-width: 580px
	margin: auto
	padding: 0px 20px
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.novedades__detalle__banner__box
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: flex-end

.novedades__detalle__banner__date
	background-color: $c-3
	border-radius: 4px

.novedades__detalle__banner__day
	padding: 10px 25px

.novedades__detalle__banner__number
	font-family: $t-2
	font-size: 36px
	color: $blanco
	p
		margin-bottom: 0

.novedades__detalle__banner__text
	font-family: $t-0
	font-size: 24px
	color: $blanco
	p
		margin-bottom: 0

.novedades__detalle__banner__title
	padding-left: 38px


.novedades__detalle__info
	padding-bottom: 50px

.novedades__detalle__info__container
	max-width: 750px
	padding: 0px 20px
	margin: auto
	margin-top: -45px
	position: relative

.novedades__detalle__info__content
	padding: 35px 0px

.novedades__detalle__info__text
	font-family: $t-0
	color: $c-1
	font-size: 18px
	padding-bottom: 20px
	line-height: 1.33
	p
		margin-bottom: 0

.novedades__detalle__info__title
	padding-bottom: 25px
	h3
		font-family: $t-1
		font-size: 24px
		color: $c-1
		margin-bottom: 0
		font-weight: bold
		line-height: 1.17

.novedades__detalle__info__compartir
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.novedades__detalle__info__redes
	padding-right: 20px
	a
		color: $c-1
		padding: 0px 12px

.novedades__detalle__info__icon
	color: $c-1
	transition: all .2s ease-in-out
	&:hover
		color: $c-3
		transition: all .2s ease-in-out

.novedades__detalle__info__compartir__text
	font-family: $t-0
	font-size: 18px
	color: $c-1
	padding-right: 10px
	p
		margin-bottom: 0

@media screen and (max-width: 960px)
	.novedades__detalle__info__text
		font-size: 15px

	.novedades__detalle__info__title
		h3
			font-size: 20px

	.novedades__detalle__info__container
		margin-top: -15px

@media screen and (max-width: 520px)
	.novedades__detalle__banner__number
		font-size: 26px

	.novedades__detalle__banner__text
		font-size: 20px

	.novedades__detalle__info__text
		font-size: 14px

	.novedades__detalle__info__title
		h3
			font-size: 17px

	.novedades__detalle__banner__title
		padding-left: 20px

	.novedades__detalle__info__compartir__text
		font-size: 16px

	.novedades__detalle__info__btn
		width: 100%
		padding-top: 25px

