.proceso__banner__container
	width: 100%
	height: 280px

.proceso__banner__background
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(70, 79, 88, 0.9)

.proceso__banner__content
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.proceso__banner__box
	max-width: 880px
	margin: auto
	padding: 0px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-end
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 16%
		left: 49%
		width: 20px
		height: 20px
		background-color: $blanco
		border-radius: 100px

.proceso__banner__title
	width: 46%
	.general__title__text
		font-size: 32px

.proceso__banner__text
	width: 44%
	padding-left: 10%

.proceso__banner__info
	font-family: $t-0
	font-size: 18px
	line-height: 1.33
	color: $blanco
	padding-bottom: 15px
	p
		margin-bottom: 0

.proceso__banner__requisitos
	a
		color: $blanco

.proceso__requisitos__container
	background-color: $c-5

.proceso__requisitos__content
	max-width: 1200px
	margin: auto
	padding: 50px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-end

.proceso__requisitos__image
	width: 45%

.proceso__requisitos__info
	width: 51%
	padding-left: 4%

.proceso__requisitos__title
	padding-bottom: 20px

.proceso__requisitos__list
	li
		font-family: $t-0
		color: $c-0
		font-size: 16px
		line-height: 1.5

.proceso__pasos
	padding-top: 40px
	padding-bottom: 60px
	position: relative
	&:before
		content: ''
		position: absolute
		width: 2px
		height: 96%
		background-color: $c-3
		top: -62px
		left: 50%

.proceso__pasos__container
	max-width: 1100px
	margin: auto
	padding: 0px 20px

.proceso__pasos__box
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	position: relative
	&:nth-child(odd)
		flex-direction: row
		.proceso__pasos__img__content
			margin-right: 0
		.proceso__pasos__title__content
			flex-direction: row
		.proceso__pasos__text
			text-align: left
			padding-left: 20px
	&:nth-child(even)
		flex-direction: row-reverse
		.proceso__pasos__img__content
			margin-left: 0
		.proceso__pasos__title__content
			flex-direction: row-reverse
		.proceso__pasos__text
			text-align: right
			padding-right: 20px
	&.active
		.proceso__pasos__img,
		.proceso__pasos__title
			opacity: 1
			visibility: visible
			transition: all .9s ease
		.proceso__pasos__circle
			&:before
				background-color: $c-0
				transition: all .5s ease

.proceso__pasos__img
	width: 45%
	opacity: 0
	visibility: hidden
	transition: all .9s ease

.proceso__pasos__img__content
	max-width: 276px
	margin: auto

.proceso__pasos__active
	width: 10%

.proceso__pasos__circle
	width: 60px
	height: 60px
	margin: auto
	position: relative
	background-color: $blanco
	&:before
		content: ''
		position: absolute
		width: 20px
		height: 20px
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		display: flex
		background-color: $c-6
		border-radius: 100px
		transition: all .5s ease

.proceso__pasos__title
	width: 45%
	opacity: 0
	visibility: hidden
	transition: all .9s ease

.proceso__pasos__title__content
	margin: auto
	display: flex
	align-items: center

.proceso__pasos__number
	font-family: $t-2
	font-size: 64px
	color: $c-3
	line-height: 0.69

.proceso__pasos__text
	font-family: $t-2
	font-size: 24px
	color: $c-1
	line-height: 1.08
	p
		margin-bottom: 0


@media screen and (max-width: 1150px)
	.proceso__requisitos__list
		li
			font-size: 14px

@media screen and (max-width: 990px)
	.proceso__requisitos__image
		display: none

	.proceso__requisitos__info
		width: 100%

	.proceso__pasos__text
		font-size: 20px

	.proceso__banner__info
		font-size: 15px

	.proceso__banner__title
		.general__title__text
			font-size: 30px

@media screen and (max-width: 780px)
	.proceso__pasos__number
		font-size: 55px

	.proceso__pasos__text
		font-size: 16px

	.proceso__pasos__circle
		width: 50px
		height: 50px

	.proceso__banner__title
		.general__title__text
			font-size: 28px

	.proceso__banner__box
		&:before
			display: none

@media screen and (max-width: 600px)
	.proceso__pasos__active
		display: none

	.proceso__pasos
		&:before
			display: none

	.proceso__pasos__img
		width: 100%
		margin: auto

	.proceso__pasos__title
		width: 70%
		margin: auto
		padding-top: 20px

	.proceso__pasos__box
		&:nth-child(odd)
			.proceso__pasos__img__content
				margin-right: auto
		&:nth-child(even)
			.proceso__pasos__title__content
				flex-direction: row
			.proceso__pasos__text
				padding-right: 0
				padding-left: 20px
				text-align: left
			.proceso__pasos__img__content
				margin-left: auto

	.proceso__pasos__box
		padding-bottom: 50px

	.proceso__banner__title
		width: 100%

	.proceso__banner__text
		width: 100%
		padding-left: 0
		padding-top: 20px

	.proceso__pasos__img__content
		max-width: 350px

@media screen and (max-width: 480px)
	.proceso__banner__title
		.general__title__text
			font-size: 22px

	.proceso__banner__info
		font-size: 13px

	.proceso__pasos__title
		width: 85%

@media screen and (max-width: 390px)
	.proceso__pasos__title
		width: 100%

	.proceso__pasos
		padding-bottom: 20px