.servicios__banner__container
	width: 100%
	height: 450px

.servicios__banner__background
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: rgba(70, 79, 88, 0.9)

.servicios__banner__content
	max-width: 1200px
	margin: auto
	padding: 0px 20px
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.servicios__banner__box
	width: 44%

.servicios__banner__title
	padding-bottom: 30px
	.general__title__text
		display: flex
		flex-direction: row
		align-items: center
		font-size: 36px

.servicios__banner__icon
	width: 80px
	padding-right: 22px

.servicios__banner__text
	font-family: $t-0
	font-size: 16px
	color: $blanco
	line-height: 1.5
	p
		margin-bottom: 0

.servicios__asesor
	padding-bottom: 36px

.servicios__asesor__container
	background-color: $c-5

.servicios__asesor__content
	max-width: 1200px
	margin: auto
	padding: 35px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	position: relative

.servicios__asesor__title
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	margin-left: 100px
	margin-right: auto
	z-index: 20
	pointer-events: none

.servicios__asesor__title__text
	h3
		font-family: $t-2
		color: $c-0
		font-size: 24px
		line-height: 1
		margin-bottom: 0

.servicios__asesor__title__btn
	padding-left: 22px
	pointer-events: auto
	.button__general--orange
		padding: 0 20px

.servicios__asesor__img
	width: 52%
	margin-top: -245px
	z-index: 10
	position: absolute
	right: 20px
	bottom: 0

.servicios__asesor__icon__video
	position: absolute
	bottom: 5px
	right: -40px
	background: rgba(255, 164, 0, 0.2)
	width: 126px
	height: 132px
	margin: auto
	display: flex
	border-radius: 100%
	z-index: 20

.servicios__icon__video__box
	background: rgba(255, 164, 0, 0.2)
	border-radius: 100%
	width: 90px
	height: 94px
	margin: auto
	display: flex

.servicios__icon__video
	background: $c-3
	color: $blanco
	width: 65px
	height: 68px
	margin: auto
	display: flex
	font-size: 16px
	border-radius: 100%



.servicios__list
	padding-bottom: 45px

.servicios__list__container
	max-width: 1200px
	margin: auto
	padding: 0px 20px

.servicios__list__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-bottom: 44px
	border-bottom: 1px solid $c-6

.servicios__list__image
	width: 45%

.servicios__list__box
	width: 50%
	padding-left: 5%

.servicios__list__text
	font-family: $t-0
	font-size: 16px
	color: $c-0
	line-height: 1.5
	padding-bottom: 30px
	p
		margin-bottom: 0

.servicios__list__items
	li
		font-family: $t-0
		font-size: 16px
		color: $c-0
		line-height: 1.5
		position: relative
		padding-left: 30px
		&:before
			content: ''
			position: absolute
			width: 8px
			height: 1px
			background: $c-0
			left: 0
			top: 12px

.servicios__options
	padding-bottom: 50px

.servicios__options__container
	max-width: 1070px
	margin: auto
	padding: 0px 20px

.servicios__options__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	h3
		font-family: $t-2
		font-size: 26px
		line-height: 1.08
		color: $c-0
		margin-bottom: 0
		text-transform: uppercase

.servicio__options__title
	width: 30%

.servicios__options__items
	width: 65%
	padding-left: 5%

.servicios__options__items__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.servicios__items__box
	width: 42%
	padding: 0 4%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.servicios__items__box__icon
	width: 33px
	img
		width: 100%
		height: auto

.servicios__items__box__text
	font-family: $t-2
	font-size: 22px
	color: $c-0
	padding-left: 20px
	p
		margin-bottom: 0
	a
		color: $c-0
		font-size: 14px
		font-family: $t-0
		text-transform: uppercase
		&:hover
			color: $c-3
			transition: all .2s ease

@media screen and (max-width: 1280px)
	.servicios__asesor__icon__video
		right: -20px

@media screen and (max-width: 1100px)
	.servicios__asesor__title
		margin-left: 30px

	.servicios__asesor__title__text
		h3
			font-size: 22px

	.servicios__options__content
		h3
			font-size: 24px

	.servicios__items__box__icon
		width: 30px

	.servicios__items__box__text
		font-size: 19px

	.servicios__banner__title 
			.general__title__text
				font-size: 30px

	.servicios__banner__text
		font-size: 15px


@media screen and (max-width: 980px)
	.servicios__banner__box
		width: 80%
		margin: auto

	.servicio__options__title
		width: 100%
		text-align: center
		padding-bottom: 40px

	.servicios__options__items
		width: 100%

	.servicios__items__box__text
		font-size: 18px

	.servicios__items__box
		width: 45%
		padding: 0 2%

	.servicios__list__image
		width: 70%
		margin: auto
	.servicios__list__box
		width: 70%
		margin: auto
		padding-left: 0
		padding-top: 40px

	.servicios__banner__icon
		width: 60px

	.servicios__asesor__title
		margin: auto
		padding-bottom: 30px
		justify-content: center

	.servicios__asesor__img
		width: 70%
		position: relative
		margin-top: 0
		right: 0
		margin: auto

	.servicios__asesor__icon__video
		bottom: 0
		right: 0
		top: 0
		left: 0

	
@media screen and (max-width: 640px)
	.servicios__asesor__img
		width: 90%

	.servicios__list__box
		width: 90%

	.servicios__banner__box
		width: 90%

	.servicios__banner__text
		font-size: 15px

	.servicios__items__box
		width: 100%
		padding: 0
		padding-bottom: 30px

	.servicios__options__content
		h3
			font-size: 22px

	.servicios__list__image
		width: 90%

	.servicios__list__box
		width: 90%

@media screen and (max-width: 530px)
	.servicios__asesor__title
		display: block
		text-align: center

	.servicios__asesor__title__text
		padding-bottom: 20px

	.servicios__asesor__title__btn
		padding-left: 0

@media screen and (max-width: 480px)
	.servicios__banner__title 
		.general__title__text
			font-size: 22px

	.servicios__asesor__img
		width: 100%

	.servicios__list__box
		width: 100%

	.servicios__banner__box
		width: 100%

	.servicios__list__image
		width: 100%

	.servicios__list__box
		width: 100%

	.servicios__list__text
		font-size: 14px

	.servicios__list__items
		li
			font-size: 14px

	.servicios__list__box
		padding-top: 25px

	.servicios__list__content
		padding-bottom: 30px

	.servicios__options__content
		h3
			font-size: 20px

	.servicios__asesor__icon__video
		width: 100px
		height: 100px

	.servicios__icon__video__box
		width: 70px
		height: 70px

	.servicios__icon__video
		width: 50px
		height: 50px

@media screen and (max-width: 390px)
	.servicios__banner__icon
		width: 80px

	.servicios_9asesor__icon__video
		width: 85px
		height: 85px
		font-size: 14px

	.servicios__icon__video__box
		width: 60px
		height: 60px

	.servicios__icon__video
		width: 40px
		height: 40px