// video
.w-video
	width: 100%	
	display: block
	height: 100vh
	position: relative

.video-iframe
	height: 100%	
	width: 100%
	transform: scale(1.2)

.home__slider__wrap
	height: 750px
	overflow: hidden
	position: relative

.home__slider
	height: 100%

.home__slider__inside__container
	position: relative
	height: 100%
	width: 100%	

.home__slider__portada__video
	position: absolute
	top: 0
	left: 0	
	width: 100%
	height: 100%
	opacity: 0
	visibility: hidden
	pointer-events: none
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

.home__slider__wrap .bx-wrapper .bx-pager
	display: none !important
	z-index: 66

// pager
.home__slider__principal__pager
	position: absolute
	bottom: 50px
	left: 0
	z-index: 70
	width: 100%

.home__slider__principal__pager__container
	max-width: 1280px
	width: 100%
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	display: flex

.home__slider__principal__pager__item.active
	.home__slider__principal__pager__number
		color: $c-3
		opacity: 1
	.home__slider__principal__pager__text
		opacity: 1	
	&:after
		width: 100%

.home__slider__principal__pager__item
	margin: 0 15px
	cursor: pointer
	position: relative
	padding-bottom: 15px
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0	
		width: 100%
		background: $blanco
		height: 1px	
		display: block
		opacity: .6
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0	
		width: 0
		background: $c-3
		height: 1px	
		display: block
		transition: all .25s ease-in-out

.home__slider__principal__pager__number
	display: block
	font-size: 20px
	font-family: $t-1
	color: $blanco
	margin-bottom: 10px
	transition: all .25s ease-in-out
	opacity: .6

.home__slider__principal__pager__text
	font-size: 18px
	color: $blanco
	font-family: $t-0
	line-height: 1.3
	opacity: .6
	transition: all .25s ease-in-out

// slider
.home__slider__item__container
	max-width: 1240px
	height: 750px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	position: absolute
	top: 0
	left: 0
	right: 0	
	z-index: 5

.home__slider__item
	background-position: center center 
	background-size: cover
	background-repeat: no-repeat
	position: relative
	height: 750px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%	
		height: 100%	
		background: #4a5058
		opacity: .5
		z-index: 3


.home__slider__item__title
	margin-bottom: 40px
	h3
		margin: 0
		font-size: 56px
		font-weight: normal
		font-family: $t-0
		color: $blanco
	strong
		font-weight: normal
		display: block
		font-family: $t-2

.home__slider__item__video__icon
	display: block
	width: 65px
	height: 65px
	line-height: 65px
	text-align: center
	background: $c-3
	color: $blanco
	border-radius: 100%
	position: relative

.home__slider__item__video__text
	margin-top: 10px
	display: inline-block
	padding: 0 10px
	box-sizing: border-box
	line-height: 45px
	position: relative
	color: $blanco
	font-size: 14px
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		background: $c-3
		height: 1px
		width: 100%
		display: block

.home__slider__item__video__icon__efect
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0

.home__slider__circle
	position: absolute
	width: 100%
	height: 100%
	border: 1px solid $blanco
	top: 50%
	left: 50%
	border-radius: 100%
	transform: translateX(-50%) translateY(-50%)
	&.circle1
		animation: efecto_pulse_play 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite
	&.circle2
		animation: efecto_pulse_play2 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0.2s infinite
	&.circle3
		animation: efecto_pulse_play3 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite

@keyframes efecto_pulse_play
	0%
		transform: translate3d(-50%, -50%, 0) scale(1)
		transform: translate3d(-50%, -50%, 0) scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%, -50%, 0) scale(1.8)
		transform: translate3d(-50%, -50%, 0) scale(1.8)
		opacity: 0

@keyframes efecto_pulse_play2
	0%
		transform: translate3d(-50%, -50%, 0) scale(1)
		transform: translate3d(-50%, -50%, 0) scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%, -50%, 0) scale(1.6)
		transform: translate3d(-50%, -50%, 0) scale(1.6)
		opacity: 0

@keyframes efecto_pulse_play3
	0%
		transform: translate3d(-50%, -50%, 0) scale(1)
		transform: translate3d(-50%, -50%, 0) scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%, -50%, 0) scale(1.4)
		transform: translate3d(-50%, -50%, 0) scale(1.4)
		opacity: 0

@media screen and (max-width: 1024px)
	.home__slider__item__title h3
		font-size: 40px

	.home__slider__wrap
		height: 650px

	.home__slider__item
		height: 650px

	.home__slider__item__container
		height: 650px

@media screen and (max-width: 768px)
	.home__slider__principal__pager__text
		font-size: 14px

	.home__slider__principal__pager__item
		margin: 0 10px
	
@media screen and (max-width: 767px)
	.home__slider__portada__video
		opacity: 1
		visibility: visible
		pointer-events: auto

	.home__slider__principal__pager
		display: none

	.home__slider__wrap
		height: 500px

	.home__slider__item__container
		height: 500px

	.home__slider__item
		height: 500px

	.home__slider__wrap .bx-wrapper .bx-pager
		display: block !important

	.home__slider__wrap 
		.bx-wrapper .bx-pager
			bottom: 20px
		.bx-wrapper .bx-pager.bx-default-pager a
			background: $blanco
		.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
			background: $c-3

@media screen and (max-width: 480px)
	.home__slider__item__title h3
		font-size: 35px

	.home__slider__item__video__icon
		width: 50px
		height: 50px
		line-height: 50px



// home slider servicios

.home__servicios
	padding-top: 43px
	padding-bottom: 100px

.home__servicios__title
	padding: 0 15px
	box-sizing: border-box
	
.home__servicios__slider__pitcher
	font-size: 0

.home__servicios__items
	margin-top: 45px

.home__servicios__item
	display: inline-block
	width: 33.33%	
	vertical-align: top
	padding: 30px 30px 40px 30px
	box-sizing: border-box
	position: relative
	overflow: hidden

.home__servicios__item__behind
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	position: absolute
	top: 0
	left: 0
	z-index: 2
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0	
		width: 100%
		height: 100%
		background: $c-0
		display: block
		opacity: .6
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $c-12

.home__servicios__item__above
	position: relative
	z-index: 5
	flex-direction: column
	align-items: flex-start
	justify-content: center


.home__servicios__item__title
	display: flex
	align-items: center
	margin-bottom: 15px
	h3
		margin: 0
		font-size: 24px
		color: $c-0
		font-family: $t-0
	strong
		display: block
		font-family: $t-2


.home__servicios__item__title__image
	width: 44px
	height: 44px
	display: block
	margin-right: 10px
	position: relative
	img
		width: 100%
		height: auto
		display: block

.home__servicios__item__title__image__normal
	transition: all .25s ease-in-out

.home__servicios__item__title__image__hover
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	transition: all .25s ease-in-out

.home__servicios__item__image
	// max-width: 460px
	margin: auto
	width: 100%
	height: 254px
	display: block
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	border-radius: 10px

.home__servicios__item__button
	display: flex
	align-items: flex-end
	justify-content: flex-end
	position: relative
	top: -15px
	right: 15px

.home__servicios__item__button
	text-align: right

.home__servicios__item__button__text
	margin-top: 10px
	display: inline-block
	box-sizing: border-box
	position: relative
	color: $blanco
	font-family: $t-2
	font-size: 14px
	padding-bottom: 5px
	margin-right: 15px
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		background: $c-3
		height: 2px
		width: 100%
		display: block

.home__servicios__item__video__icon
	display: block
	width: 50px
	height: 50px
	line-height: 50px
	text-align: center
	background: $c-3
	color: $blanco
	border-radius: 100%
	position: relative
	font-size: 18px
	&:before
		position: relative
		z-index: 20

.home__servicios__item__video__text
	margin-top: 10px
	display: inline-block
	padding: 0 10px
	box-sizing: border-box
	line-height: 45px
	position: relative
	color: $blanco
	font-size: 14px
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		background: $c-3
		height: 1px
		width: 100%
		display: block

.home__servicios__item__video__icon__efect
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0

.home__servicios__circle
	position: absolute
	width: 100%
	height: 100%
	background: $c-3
	top: 50%
	left: 50%
	border-radius: 100%
	transform: translateX(-50%) translateY(-50%)

@keyframes efecto_pulse_play
	0%
		transform: translate3d(-50%, -50%, 0) scale(1)
		transform: translate3d(-50%, -50%, 0) scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%, -50%, 0) scale(1.8)
		transform: translate3d(-50%, -50%, 0) scale(1.8)
		opacity: 0

@keyframes efecto_pulse_play2
	0%
		transform: translate3d(-50%, -50%, 0) scale(1)
		transform: translate3d(-50%, -50%, 0) scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%, -50%, 0) scale(1.6)
		transform: translate3d(-50%, -50%, 0) scale(1.6)
		opacity: 0

@keyframes efecto_pulse_play3
	0%
		transform: translate3d(-50%, -50%, 0) scale(1)
		transform: translate3d(-50%, -50%, 0) scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%, -50%, 0) scale(1.4)
		transform: translate3d(-50%, -50%, 0) scale(1.4)
		opacity: 0

@media screen and (min-width: 1025px)
	.home__servicios__item__behind:after
		opacity: 1
		transition: all .25s ease-in-out

	.home__servicios__item__behind:before
		transition: all .25s ease-in-out

	.home__servicios__item__button
		opacity: 0
		visibility: hidden
		transition: all .25s ease-in-out

	.home__servicios__item__title h3
		transition: all .25s ease-in-out

	.home__servicios__item__behind
		transition: all .25s ease-in-out

	.home__servicios__item:hover
		.home__servicios__item__behind:after
			opacity: 0
			visibility: hidden
		.home__servicios__item__behind:before
			opacity: .8
			visibility: visible
		.home__servicios__item__button
			opacity: 1
			visibility: visible

		.home__servicios__item__title h3
			color: $blanco
		.home__servicios__item__behind
			transform: scale(1.04)
		.home__servicios__circle
			&.circle1
				animation: efecto_pulse_play 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite
			&.circle2
				animation: efecto_pulse_play2 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0.2s infinite
			&.circle3
				animation: efecto_pulse_play3 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite
		.home__servicios__item__title__image__hover
			opacity: 1
			visibility: visible
		.home__servicios__item__title__image__normal
			opacity: 0
			visibility: hidden

@media screen and (max-width: 1024px)
	.home__servicios
		padding-bottom: 50px

	.home__servicios__item__title h3
		color: $blanco

	.home__servicios__item__behind:after
		display: none

	.home__servicios__item__title__image__hover
		opacity: 1
		visibility: visible

	.home__servicios__item__title__image__normal
		opacity: 0	
		visibility: hidden

	.home__servicios__circle
		&.circle1
			animation: efecto_pulse_play 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0s infinite
		&.circle2
			animation: efecto_pulse_play2 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0.2s infinite
		&.circle3
			animation: efecto_pulse_play3 3s cubic-bezier(0.25, 0.9, 0.2, 1) 0.4s infinite

@media screen and (max-width: 767px)
	.home__servicios__item
		padding: 30px 25px

	.home__servicios
		padding-bottom: 40px


// testimonios
.home__testimoniales
	overflow: hidden
	margin-bottom: 70px
	.bx-wrapper .bx-viewport
		overflow: inherit !important
	.bx-wrapper .bx-pager
		bottom: 30px
		text-align: left
		padding-left: 362px
		box-sizing: border-box
		z-index: 66
	.bx-wrapper .bx-pager.bx-default-pager a
		border: 1px solid $c-0
		background: transparent
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
		background: $c-3
		border: 1px solid $c-3

.home__testimoniales__container
	max-width: 1050px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.home__testimoniales__slider__item
	font-size: 0

.home__testimoniales__slider__item__image
	width: 290px
	display: inline-block
	vertical-align: top
	position: relative

.home__testimoniales__slider__item__info
	display: inline-block
	vertical-align: top
	width: calc(100% - 290px)
	padding-left: 7%
	box-sizing: border-box

.home__testimoniales__slider__item__image__img
	max-width: 290px
	width: 100%
	margin: auto
	position: relative
	img
		width: 100%	
		height: auto
		display: block

.home__testimoniales__slider__img__behind
	position: absolute
	top: 0
	left: 0

.home__testimoniales__slider__item__info__text
	margin-top: 30px
	font-size: 18px
	color: $c-0
	font-family: $t-0
	line-height: 1.3
	p
		margin: 0

.home__testimoniales__slider__item__number
	font-size: 144px
	line-height: 144px
	color: $c-3
	font-family: $t-2
	position: absolute
	bottom: -10px
	left: -50px

.home__testimoniales__slider__item__info__person
	margin-top: 15px
	h4
		color: $c-3
		font-size: 18px
		margin-bottom: 5px
		text-transform: uppercase
	p
		font-size: 16px	
		color: $c-0
		margin: 0
		text-transform: uppercase

@media screen and (min-width: 1025px)
	.home__testimoniales__slider__item__info
		transform: translateX(50px)
		opacity: 0
		visibility: hidden
		transition: all .5s ease-in-out

	.home__testimoniales__slider__item__image
		transform: translateY(50px)
		opacity: 0
		visibility: hidden
		transition: all .5s ease-in-out

	.home__testimoniales__slider__wrap__item.active
		.home__testimoniales__slider__item__info
			transform: translateX(0)
			opacity: 1
			visibility: visible
		.home__testimoniales__slider__item__image
			transform: translateY(0)
			opacity: 1
			visibility: visible

	
@media screen and (max-width: 1024px)
	.home__testimoniales__slider__item__number
		left: 0	

	.home__testimoniales .bx-controls
		display: none !important

	.home__testimoniales
		margin-bottom: 50px

@media screen and (max-width: 767px)
	.home__testimoniales__slider__item
		display: flex
		flex-wrap: wrap

	.home__testimoniales__slider__item__info
		width: 100%
		padding-left: 0

	.home__testimoniales__slider__item__image
		max-width: 290px
		width: 100%	
		margin: auto
		margin-top: 25px
		display: block
		order: 2

	.home__testimoniales__slider__item__number
		font-size: 80px
		line-height: 80px

	.home__testimoniales__slider__item__info__title
		.general__title--left
			text-align: center
		.general__title__title--left
			margin: auto

	.home__testimoniales__container
		padding: 0 15px

	.home__testimoniales
		margin-bottom: 40px

// departamentos

.home__departamentos
	height: 370px
	display: flex
	align-items: center
	position: relative
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0	
		width: 100%
		background: $c-0
		height: 100%
		display: block
		opacity: .8
		z-index: 5

.home__departamentos__container
	position: relative
	z-index: 10
	max-width: 1280px
	width: 100%
	height: 100%
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	display: flex
	flex-wrap: wrap
	align-items: center

.home__departamentos__left__title
	h3
		color: $blanco
		font-family: $t-1
		font-size: 42px	
		margin: 0
	strong
		display: block
		font-family: $t-2
		color: $c-3
		font-size: 42px
		text-transform: uppercase
		margin-top: 5px

.home__departamentos__left
	width: 51.5%
	padding-right: 10%
	box-sizing: border-box	

.home__departamentos__right
	width: 47.5%
	height: 100%
	position: relative
	box-sizing: border-box

.home__departamentos__right__image
	width: 56%
	position: absolute
	&.one
		left: 110px
		top: -20px
		transition-delay: .5s
	&.two
		right: 0
		bottom: 40px
		transition-delay: 1s
	&.three
		bottom: -20px
		transition-delay: 1.5s

@media screen and (min-width: 1025px)
	.home__departamentos__right__image
		&.one
			opacity: 0
			transform: scale(.8)
			visibility: hidden
			transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1)
		&.two
			opacity: 0
			transform: scale(.8)
			visibility: hidden
			transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) .5s
		&.three
			opacity: 0
			transform: scale(.8)
			visibility: hidden
			transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 1s

	.home__departamentos__right.active
		.home__departamentos__right__image
			&.one
				transform: scale(1)
				opacity: 1
				visibility: visible
			&.two
				transform: scale(1)
				opacity: 1
				visibility: visible	
			&.three
				transform: scale(1)
				opacity: 1
				visibility: visible

.home__departamentos__slider__images
	display: none

.home__departamentos__slider__list
	height: 220px
	width: 100%	
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

@media screen and (max-width: 960px)
	.home__departamentos__right
		display: none

	.home__departamentos__left
		width: 100%	
		padding: 0
		text-align: center

	.home__departamentos__slider__images
		display: block
		margin-top: 35px

	.home__departamentos__left__title h3
		font-size: 30px

	.home__departamentos__left__title strong
		font-size: 35px


@media screen and (max-width: 767px)
	.home__departamentos__left__title strong
		font-size: 30px

	.home__departamentos__container
		padding: 0 15px

// novedades

.home__novedades
	padding-top: 100px
	padding-bottom: 77px
	background: $c-12

.home__novedades__container
	max-width: 1280px
	margin: auto
	padding: 0 20px
	display: flex
	flex-wrap: wrap
	font-size: 0

.home__novedades__left
	width: calc(100% - 285px)
	display: inline-block
	vertical-align: top
	font-size: 0
	padding-right: 15px
	box-sizing: border-box

.home__novedades__right
	width: 285px
	display: inline-block
	vertical-align: top

.home__novedades__title__left
	margin-bottom: 30px
	.general__title
		display: inline-block
		vertical-align: bottom	
		width: calc(100% - 200px)
		padding-right: 15px
		box-sizing: border-box

.home__novedades__title__right
	width: 200px
	display: inline-block
	vertical-align: bottom

.home__novedades__left__bottom__item
	width: 30.333%
	display: inline-block	
	vertical-align: top
	margin: 0 1.5%
	transition: all .25s linear

.home__novedades__left__bottom__image
	height: 166px
	width: 100%
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

.home__novedades__left__bottom__info
	text-align: center
	padding: 30px
	box-sizing: border-box

.home__novedades__left__bottom__info__title
	margin-bottom: 15px
	h3
		font-size: 18px
		margin: 0
		color: $c-0
		font-family: $t-0

.home__novedades__left__bottom__info__text__button
	position: relative

.home__novedades__left__bottom__info__button
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 0
	right: 0
	margin: auto
	opacity: 0	
	visibility: hidden
	transition: all .25s linear

.home__novedades__left__bottom__info__text
	font-size: 14px
	color: $c-0
	font-family: $t-0
	transition: all .25s linear
	p
		margin: 0

@media screen and (min-width: 1025px)
	.home__novedades__left__bottom__item:hover
		background: $blanco
		box-shadow: 0px 0px 34px 0px rba(0,0,0,0.35)
		.home__novedades__left__bottom__info__text
			opacity: 0
			visibility: hidden
		.home__novedades__left__bottom__info__button
			opacity: 1
			visibility: visible
			
		.button__general--effect1
			animation-name: hvr-pulse-shrink
			animation-duration: 0.3s
			animation-timing-function: linear
			animation-iteration-count: infinite
			animation-direction: alternate


.home__novedades__right__info
	background: $c-3
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	text-align: center

.home__novedades___right
	width: 285px
	display: inline-block
	vertical-align: top

.home__novedades__right__title__inside
	background: rgba(255,255,255,.2)
	padding: 12px 25px
	border-radius: 4px
	display: inline-block
	margin-bottom: 20px
	h3
		font-size: 16px
		margin: 0
		font-family: $t-2
		color: $blanco

.home__novedades__right__title__inside__text
	p
		font-size: 35px
		color: $blanco
	strong
		font-family: $t-2
		font-size: 40px

.home__novedades__right__redes
	margin-top: 25px
	ul
		li
			display: inline-block	
			vertical-align: middle
			margin: 0 12px
			a
				font-size: 25px	
				color: $blanco
				transition: all .25s linear
				&:hover
					color: $c-2

.home__novedades__right__image
	height: 165px
	width: 100%
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

.home__novedades__right__title
	padding: 40px
	box-sizing: border-box

@media screen and (max-width: 1024px)
	.home__novedades__left__bottom__info__button
		position: relative
		top: inherit
		opacity: 1
		visibility: visible
		transform: inherit
		margin-top: 20px

	.home__novedades
		padding-top: 50px
		padding-bottom: 50px
		
@media screen and (max-width: 1020px)
	.home__novedades__left
		width: 100%	
		padding: 0

	.home__novedades___right
		width: 100%

@media screen and (max-width: 767px)
	.home__novedades__left__bottom__item
		margin: 0
		width: 100%	

	.home__novedades
		padding-top: 40px
		padding-bottom: 40px

	.home__novedades__container
		padding: 0 15px
		

	.home__novedades__right__title__inside__text strong
		font-size: 30px	

	.home__novedades__right__title__inside__text p
		font-size: 30px

@media screen and (max-width: 700px)
	.home__novedades__title__left .general__title
		width: 100%	
		padding-right: 0

	.home__novedades__title__right
		width: auto
		margin-top: 20px

	.home__novedades__title
		text-align: center
		.general__title--left
			text-align: center
		.general__title__title--gray
			margin: auto


// clients
.home__clientes
	padding-top: 50px
	padding-bottom: 20px

.home__clientes__container
	max-width: 1280px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.home__clientes__slider
	overflow: hidden
	margin-top: 15px
	ul
		li
			display: inline-block
			vertical-align: middle
			margin: 0 10px
			a
				display: block
				img
					display: block
					width: 100%	
					height: auto

@media screen and (max-width: 767px)
	.home__clientes__container
		padding: 0 15px