extends ./_common/base.pug
//- btn
block content

	a(href="#").button__general.button__general--orange.button__general--effect1 LEER MÁS

	br
	br

	a(href="#").button__general.button__general--orange.button__general--effect2 LEER MÁS

	br
	br

	a(href="#").button__general.button__general--transparent VER TODAS
	
	br
	br

	a(href="#").button__general.button__general--line LEER MÁS
