extends ./_common/base.pug

block content

	.general__title.general__title--center
		.general__title__title.general__title__title--gray.general__title__title--center
			h2 Nuestros servicios
		.general__title__text.general__title__text--uppercase
			p Seguridad y Vigilancia a la medida

	br
	br
	br

	.general__title.general__title--left
		.general__title__title.general__title__title--gray.general__title__title--left
			h2 Testimoniales
		.general__title__text.general__title__text--uppercase
			p La confianza que nos caracteriza

	br
	br
	br
	
	.general__title.general__title--center(style="background: #333e48")
		.general__title__title.general__title__title--transparent.general__title__title--center
			h2 Nosotros
		.general__title__text.general__title__title--normal
			p ¡Infórmate de Seguridad con nosotros!

	br
	br
	br

	.general__title.general__title--left(style="background: #333e48")
		.general__title__title.general__title__title--transparent.general__title__title--left
			h2 Nosotros
		.general__title__text.general__title__title--normal
			p ¡Infórmate de Seguridad con nosotros!

	br
	br
	br

	.general__title.general__title--left
		.general__title__text
			p Huayna, más que seguridad
