.button__general
	display: inline-block
	height: 44px
	line-height: 44px
	font-size: 14px
	position: relative
	font-family: $t-0
	border: none

.button__general--orange
	background: $c-3
	border-radius: 5px
	padding: 0 41px
	text-align: center
	color: $blanco

.button__general--transparent
	background: transparent
	border-radius: 5px
	padding: 0 41px
	border: 1px solid $c-0
	color: $c-0
	transition: all .2s ease-in-out

.button__general--line
	color: $c-0
	position: relative
	height: auto
	font-family: $t-2
	line-height: 2.9
	transition: all .35s ease-in-out
	&:before
		content: ''
		position: absolute
		display: block
		width: 0
		height: 2px
		bottom: 0
		left: 0
		background: $c-3
		transition: all .35s ease-in-out

.button__general--effect2
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	transition-duration: 0.3s;
	transition-property: transform;
	transform-origin: 0 100%;

@media screen and (min-width: 1025px)
	.button__general--transparent
		&:hover
			background: $c-3
			color: $blanco
			border: 1px solid $blanco
			transition: all .2s ease-in-out

	.button__general--line:hover
		&:before 
			width: 100%

	.button__general--effect1
		&:hover
			animation-name: hvr-pulse-shrink;
			animation-duration: 0.3s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: alternate;

	.button__general--effect2
		&:hover
			transform: skew(-10deg)

+keyframes(hvr-pulse-shrink)
	to
    	transform: scale(0.9);
