.general__title
	display: block

.general__title--center
	text-align: center

.general__title--left
	text-align: left

.general__title__title
	color: $c-0
	h2
		font-size: 16px
		margin-bottom: 0px
		font-family: $t-2
	h3
		font-size: 26px
		margin-bottom: 0
		font-family: $t-2

.general__title__text
	color: $c-0
	font-size: 30px
	p
		margin-bottom: 0
		font-family: $t-2

.general__title__text--uppercase
	text-transform: uppercase
	padding-top: 15px

.general__title__title--gray
	width: max-content
	background-color: #f1f1f1
	padding: 12px 25px
	border-radius: 4px

.general__title__title--center
	margin: auto

.general__title__title--left
	margin-left: 0

.general__title__title--transparent
	width: max-content
	background-color: rgba(255, 255, 255, 0.1)
	padding: 12px 25px
	border-radius: 2px
	color: $blanco

.general__title__title--normal
	padding-top: 15px
	text-transform: inherit
	color: $blanco


@media screen and (max-width: 768px)
	.general__title__title
		h2
			font-size: 14px

	.general__title__text
		font-size: 26px

@media screen and (max-width: 520px)
	.general__title__text
		font-size: 23px